body {
    background-image: url("../images/jon-moore-5fIoyoKlz7A-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: moccasin; */
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    max-width: 1500px;
}

/* Header Styling */

header {
    color: white;
    text-align: center;
    font-size: x-large;
    text-shadow: 5px 5px 8px rgba(0,0,0,0.82);
    
}

#rule {
    background-color: white;
    height: 2px;
    margin: 10px 0px;
    width: 100%;
}


/* Main Game page Styling */

.main-window {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.game-area {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%;
}



.start-zone {
    background-color: rgba(247, 230, 204, 0.911);
    margin: 10px;
    padding: 20px 0;
    text-align: center;
    width: 220px;
    box-shadow:
        3.1px 4.5px 3.6px rgba(0, 0, 0, 0.087),
        8.5px 12.5px 10px rgba(0, 0, 0, 0.125),
        20.5px 30.1px 24.1px rgba(0, 0, 0, 0.163),
        68px 100px 80px rgba(0, 0, 0, 0.25)
    ;

}

.game-prompt {
    align-items: center;
    background-color: rgba(247, 230, 204, 0.911);
    display: flex;
    height: 120px;
    justify-content: center;
    margin: 5px;
    text-align: center;
    width: 55%;
    box-shadow:
        4.5px 4.5px 3.6px rgba(0, 0, 0, 0.035),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.05),
        30.1px 30.1px 24.1px rgba(0, 0, 0, 0.065),
        100px 100px 80px rgba(0, 0, 0, 0.1)
        ;

}

p {
    font-size: large;
    margin: 10px;
    color: #111;
}

/* Button styling */

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.button {
    align-items: center;
    background-color: rgb(245, 233, 216);
    border: 2px solid rgb(17, 17, 17);
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    height: 48px;
    justify-content: center;
    margin: 15px;
    padding: 10px 40px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    touch-action: manipulation;
  }
  
  .button:after {
    background-color: rgb(17, 17, 17);
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .button:hover:after {
    transform: translate(0, 0);
  }
  
  .button:active {
    background-color: #ffdeda;
    outline: 0;
  }
  
  .button:hover {
    outline: 0;
  }


.pop-up {
    border: solid black 2px;
    color: white;
    padding: 20px;
    position: absolute;
    text-align: center;
    z-index: 1000;
    box-shadow:
        1.4px 3.1px 3px -2px rgba(0, 0, 0, 0.09),
        3.6px 7.8px 7.5px -2px rgba(0, 0, 0, 0.129),
        7.3px 15.9px 15.2px -2px rgba(0, 0, 0, 0.161),
        15px 32.9px 31.4px -2px rgba(0, 0, 0, 0.2),
        41px 90px 86px -2px rgba(0, 0, 0, 0.29)
    ;
}

.pop-up p {
    color: white;
}

.rules.pop-up {
    background-color: rgba(66, 29, 29, 0.911);
    height: 50%;
    width: 40%;
    display: none;
    overflow-y: scroll;
}

.forfeit.pop-up {
    background-color: rgb(131, 4, 4);
    padding-top: 50px;
    height: 20%;
    width: 20%;
}

/* Game Board Styling */

.game-board {
    background-color: rgba(231, 190, 128, 0.726);
    border: solid thick black;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    position: relative;
    width: 800px;
    height: 400px;
    box-shadow:
        4.5px 4.5px 3.6px rgba(0, 0, 0, 0.035),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.05),
        30.1px 30.1px 24.1px rgba(0, 0, 0, 0.065),
        100px 100px 80px rgba(0, 0, 0, 0.1)
        ;
}

.game-board .space {
    background-color: rgba(255, 255, 255, 0.575);
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 1px;
    height: calc(25% - 2px);
    position: relative;
    width: calc(12.5% - 2px);
}

.grid {
    border-color:black;
    border-style: solid;
    border-width: 1px;
    height: calc(25% - 2px);
    width: calc(12.5% - 2px);
}

.game-board .top {
    border-top: 5px solid black;
    height: calc(25% - 5px);
}

.game-board .bottom {
    border-bottom: 5px solid black;
    height: calc(25% - 5px);
}

/* .game-board .column4 {
    border-right: dashed sienna 2px;
}

.game-board .column5 {
    border-left: dashed sienna 2px;
} */


/* Game Piece Styling */

.token {
    display: inline-block;
    border: solid black 1px;
    height: 50px;
    width: 50px;
    z-index: 10;
    cursor: grabbing;
}

.token--white {
    background-color: white;
}

.token--green {
    background-color: darkolivegreen;
}

.token--circle {
    border-radius: 50%;
}

.token--placed {
    display: block;
    position: absolute;
    margin-left: 25px;
    margin-top: 25px;
}

/* Game state styling */




/* Footer Styling - consistent across all pages */

#footer-content {
    background-color: rgba(0, 0, 0, 0.212);
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.212);
    display: flex;
    justify-content: space-between;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    color: white;
    display: inline-block;
}

footer a, footer p {
    color: white;
    font-weight: bold;
}