body {
    /* background-image: url("../images/jon-moore-5fIoyoKlz7A-unsplash.jpg"); */
    background-color: moccasin;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    max-width: 1500px;
}

body.overlay {
    background-color: grey;
}

/* Header Styling */

header {
    text-align: center;
    font-size: x-large;
}

#rule {
    background-color: black;
    height: 2px;
    margin: 10px 0px;
    width: 100%;
}

/* Main Game page Styling */

.main-window {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.game-area {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.score {
    background-color: blanchedalmond;
    margin: 10px;
    padding: 20px 30px;
    text-align: center;
}

.game-prompt {
    background-color: blanchedalmond;
    height: 100px;
    margin: 5px;
    width: 55%;
}

/* Button styling */

.button {
    background-color: aquamarine;
    padding: 0px 40px;
    border-radius: 10px;
    margin: 10px;
}

.pop-up {
    background-color: brown;
    border: solid white 2px;
    color: white;
    display: none;
    height: 50%;
    padding: 20px;
    position: absolute;
    text-align: center;
    width: 40%;
}

/* Game Board Styling */

.game-board {
    background-color: blanchedalmond;
    /* border: solid thick sienna; */
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    position: relative;
    width: 816px;
    height: 420px;
}

.grid {
    border-color:sienna;
    border-style: solid;
    border-width: 0.5px;
    height: 24%;
    width: 12.2%;
}

.game-board .space {
    border-color: blanchedalmond;
}

.game-board .top {
    border-top: thick solid sienna;
}

.game-board .bottom {
    border-bottom: thick solid sienna;
}

.game-board .column4 {
    border-right: dashed sienna 2px;
}

.game-board .column5 {
    border-left: dashed sienna 2px;
}


/* Game Piece Styling */

.white, .brown {
    border: solid black 1px;
    position: absolute;
    height: 24.5%;
    width: 12.2%;
}

.white {
    background-color: white;
}

.brown{
    background-color: darkolivegreen;
}

.circle {
    border-radius: 50%;
}

/* Game state styling */




/* Footer Styling - consistent across all pages */

#footer-content {
    display: flex;
    justify-content: space-between;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    display: inline-block;
}

footer a {
    color: black;
}