body {
    /* background-image: url("../images/jon-moore-5fIoyoKlz7A-unsplash.jpg"); */
    background-color: moccasin;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    max-width: 1500px;
}

/* Header Styling */

header {
    text-align: center;
    font-size: x-large;
}

#rule {
    background-color: black;
    height: 2px;
    margin: 10px 0px;
    width: 100%;
}


/* Main Game page Styling */

.main-window {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.game-area {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%;
}

.start-zone {
    background-color: blanchedalmond;
    margin: 10px;
    padding: 20px 0;
    text-align: center;
    width: 220px;
}

.game-prompt {
    align-items: center;
    background-color: blanchedalmond;
    display: flex;
    height: 100px;
    justify-content: center;
    margin: 5px;
    text-align: center;
    width: 55%;
}

p {
    font-size: large;
    margin: 10px;
}

/* Button styling */

.button {
    background-color: aquamarine;
    padding: 10px 40px;
    border-radius: 10px;
    margin: 15px;
    cursor: pointer;
}

.pop-up {
    background-color: brown;
    border: solid black 2px;
    color: white;
    display: none;
    height: 50%;
    padding: 20px;
    position: absolute;
    text-align: center;
    width: 40%;
    z-index: 1000;
    overflow-y: scroll;
}

/* Game Board Styling */

.game-board {
    background-color: blanchedalmond;
    /* border: solid thick sienna; */
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    position: relative;
    width: 800px;
    height: 400px;
}

.game-board .space {
    border-color: blanchedalmond;
    border-style: solid;
    border-width: 1px;
    height: calc(25% - 2px);
    position: relative;
    width: calc(12.5% - 2px);
}

.grid {
    border-color:sienna;
    border-style: solid;
    border-width: 1px;
    height: calc(25% - 2px);
    width: calc(12.5% - 2px);
}

.game-board .top {
    border-top: 5px solid sienna;
    height: calc(25% - 5px);
}

.game-board .bottom {
    border-bottom: 5px solid sienna;
    height: calc(25% - 5px);
}

/* .game-board .column4 {
    border-right: dashed sienna 2px;
}

.game-board .column5 {
    border-left: dashed sienna 2px;
} */


/* Game Piece Styling */

.token {
    display: inline-block;
    border: solid black 1px;
    height: 50px;
    width: 50px;
    z-index: 10;
    cursor: grabbing;
}

.token--white {
    background-color: white;
}

.token--green {
    background-color: darkolivegreen;
}

.token--circle {
    border-radius: 50%;
}

.token--placed {
    display: block;
    position: absolute;
    margin-left: 25px;
    margin-top: 25px;
}

/* Game state styling */




/* Footer Styling - consistent across all pages */

#footer-content {
    display: flex;
    justify-content: space-between;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    display: inline-block;
}

footer a {
    color: black;
}